In [1]:
# Importing libraries
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LogisticRegression
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
# Load the mock data
flight_df = pd.read_csv("https://raw.githubusercontent.com/lmacera/Winning_Winers/lmacera_branch/Linear%20Regression%20Data/Merged_Canceled_Codes.csv")
flight_df.head()

,flight_id,cancellation_code_a,cancellation_code_b,cancellation_code_c,cancellation_code_d,cancellation_code_e,mkt_carrier_fl_num,fl_date,fl_month,day_of_month,day_of_week,dep_time_blk,arr_time_blk,crs_elapsed_time,distance
0,0,0,0,0,0,1,5888,1/1/2020,1,1,3,18,19,95,363
1,1,0,0,0,0,1,6276,1/1/2020,1,1,3,11,13,90,363
2,2,0,0,0,0,1,4598,1/1/2020,1,1,3,20,21,70,333
3,3,0,0,0,0,1,4761,1/1/2020,1,1,3,13,14,75,333
4,4,0,0,0,0,1,5162,1/1/2020,1,1,3,9,10,80,333

In [4]:
# Drop the non-beneficial fl_date, flight_id and mkt_carrier_fl_num.
flight_df = flight_df.drop(['fl_date', 'flight_id', 'mkt_carrier_fl_num'], 1)
flight_df

/Users/leahikenberry/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,cancellation_code_a,cancellation_code_b,cancellation_code_c,cancellation_code_d,cancellation_code_e,fl_month,day_of_month,day_of_week,dep_time_blk,arr_time_blk,crs_elapsed_time,distance
0,0,0,0,0,1,1,1,3,18,19,95,363
1,0,0,0,0,1,1,1,3,11,13,90,363
2,0,0,0,0,1,1,1,3,20,21,70,333
3,0,0,0,0,1,1,1,3,13,14,75,333
4,0,0,0,0,1,1,1,3,9,10,80,333
5,0,0,0,0,1,1,1,3,6,7,75,333
6,0,0,0,0,1,1,1,3,16,17,80,333
7,0,0,0,0,1,1,1,3,15,16,85,390
8,0,0,0,0,1,1,1,3,12,13,85,390
9,0,0,0,0,1,1,1,3,7,9,80,390
10,0,0,0,0,1,1,1,3,10,11,90,390
11,0,0,0,0,1,1,1,3,20,21,75,390
12,0,0,0,0,1,1,1,3,22,0,75,390
13,0,0,0,0,1,1,1,3,18,19,80,390
14,0,0,0,0,1,1,1,3,11,12,65,159
15,0,0,0,0,1,1,1,3,6,7,60,159
16,0,0,0,0,1,1,1,3,20,21,60,159
17,0,0,0,0,1,1,1,3,17,18,70,159
18,0,0,0,0,1,1,1,3,10,12,125,655
19,0,0,0,0,1,1,1,3,16,18,140,704
20,0,0,0,0,1,1,1,3,13,14,110,545
21,0,0,0,0,1,1,1,3,7,9,135,883
22,0,0,0,0,1,1,1,3,17,20,140,883
23,0,0,0,0,1,1,1,3,11,13,140,883
24,0,0,0,0,1,1,1,3,7,10,155,1052
25,0,0,0,0,1,1,1,3,19,22,160,1052
26,0,0,0,0,1,1,1,3,19,21,130,817
27,0,0,0,0,1,1,1,3,11,17,215,1626
28,0,0,0,0,1,1,1,3,9,12,140,991
29,0,0,0,0,1,1,1,3,13,16,140,991
30,0,0,0,0,1,1,1,3,15,18,140,991
31,0,0,0,0,1,1,1,3,20,23,135,991
32,0,0,0,0,1,1,1,3,6,9,140,991
33,0,0,0,0,1,1,1,3,14,16,130,763
34,0,0,0,0,1,1,1,3,10,12,120,763
35,1,0,0,0,0,1,1,3,7,9,125,763
36,0,0,0,0,1,1,1,3,18,21,145,834
37,0,0,0,0,1,1,1,3,6,8,145,834
38,0,0,0,0,1,1,1,3,0,11,225,1751
39,0,0,0,0,1,1,1,3,14,20,235,1751
40,0,0,0,0,1,1,1,3,8,9,105,543
41,0,0,0,0,1,1,1,3,16,18,110,543
42,0,0,0,0,1,1,1,3,20,22,105,543
43,0,0,0,0,1,1,1,3,12,13,110,543
44,0,0,0,0,1,1,1,3,11,13,130,838
45,0,0,0,0,1,1,1,3,10,14,150,1009
46,0,0,0,0,1,1,1,3,6,9,150,1009
47,0,0,0,0,1,1,1,3,20,23,145,933
48,0,0,0,0,1,1,1,3,13,15,145,933
49,0,0,0,0,1,1,1,3,13,15,110,569

In [5]:
# Split our preprocessed data into our features and target arrays
X = flight_df.drop(["cancellation_code_e"],1).values
y = flight_df["cancellation_code_e"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify = y)

/Users/leahikenberry/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
# Standardize the data with StandardScaler().
X_scaled = StandardScaler().fit_transform(X.values)
print(X_scaled[0:5])

In [ ]:
# Train the Logistic Regression model using the scaled data.
regression = LogisticRegression(solver='lbfgs', random_state=1)
regression.fit(X_train_scaled, y)

y_pred = regression.predict(X_test_scaled)

In [ ]:
# Calculating accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))